*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root{
  width:100%;
  min-height:100%;
  font-family:
    Inter,
    sans-serif;
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

body{
  overflow-x:hidden;
}

/* ================================= */
/* DARK THEME */
/* ================================= */
.dark{

  --bg-primary:#020817;
  --bg-secondary:#111827;
  --bg-card:#0f172a;

  --text-primary:#ffffff;
  --text-secondary:#94a3b8;

  --border:#1e293b;
}

/* ================================= */
/* LIGHT THEME */
/* ================================= */
.light{

  --bg-primary:#f8fafc;
  --bg-secondary:#ffffff;
  --bg-card:#ffffff;

  --text-primary:#0f172a;
  --text-secondary:#475569;

  --border:#cbd5e1;
}